/* GENERAL RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow-x:hidden;
    font-family:'Roboto',sans-serif;
}

/*PAGE LAYOUT*/

.homepage{
    display:flex;
    width:100vw;
}

/* LEFT PANEL*/

.left-panel{
    flex:0 0 22%;
    background: linear-gradient(
    135deg,
    #21262E 0%,
    #363845 50%,
    #4A4B56 100%
);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.logo{
    width:150%;
    max-width:430px;
    height:auto;
    margin-top: 130px;
}

/*RIGHT PANEL*/
.right-panel{
    flex:1;
    position:relative;
    background:#ffffff;
    display:flex;
    flex-direction:column;
    padding:0;
    margin:0;
    overflow-y:auto;
}

/*NAVBAR */

.navbar{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:68px;
    background:#FFD700;
    z-index:100;
    box-shadow:0 2px 8px rgba(0,0,0,0.15);
    animation:slideDown 0.6s ease;
}

.navbar ul{
    height:100%;

    display:flex;
    justify-content:space-around;
    align-items:center;
    list-style:none;
}

.navbar li a{
    text-decoration:none;
    color:#000;
    font-weight:700;
    font-size:1rem;
    position:relative;
    transition:0.3s ease;
}

.navbar li a:hover{
    color:#9e2a2b;
}

.navbar li a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-4px;
    width:0;
    height:2px;
    background:#fcbf49;
    transition:0.3s ease;
}

.navbar li a:hover::after{
    width:100%;
}

/* HERO BANNER*/

.hero-banner{
    margin-top:68px;
    height:480px;
    overflow:hidden;
    position:relative;
}

.hero-image{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center 25%;
    position:relative;
    z-index:0;
}

/* Dark overlay */

.hero-banner::before{
    content:"";
    position:absolute;
    inset:0;
    background:
    linear-gradient(
        90deg,
        rgba(0,0,0,0.55) 0%,
        rgba(0,0,0,0.30) 35%,
        rgba(0,0,0,0.08) 100%
    );
    z-index:1;
}

/* HERO TEXT */

.hero-content{
    position:absolute;
    top:95px;
    left:55px;
    max-width:700px;
    z-index:10;
}

.hero-content h1{
    font-family:'Montserrat', sans-serif;
    font-size:2rem;
    font-weight:600;
    line-height:1.05;
    letter-spacing:-1px;
    text-transform:uppercase;
    color:#F2F2F2;
    margin-bottom:14px;
}

.hero-content h1 span{
    color:#FFD700;
}

.hero-content .subheading{
    color:#F5F5F5;
    font-size:1.5rem;
    font-style:italic;
    font-weight:600;
    line-height:1.4;
    letter-spacing:0.2px;
    max-width:700px;
}

.yellow-line{
    width:70px;
    height:5px;
    background:#FFD700;
    margin-bottom:18px;
}

.bottom-line {
    margin-top: 18px;
}

/* INTRO SECTION */

.intro-section{
    margin-top:-10px;
    padding:20px 55px 45px;
}

.intro-left{
    display:flex;
    align-items:flex-start;
    gap:40px;
}

.profile-image{
    width:200px;
    height:210px;
    object-fit:cover;
    border-radius:0;
    border:none;
    box-shadow:
    0 4px 12px rgba(0,0,0,0.15);
}

.intro-text{
    flex:1;
}

.intro-text h2{
    font-size:2rem;
    color:#1F2A44;
    margin-bottom:6px;
}

.intro-text h3{
    font-size:1rem;
    color:#555;
    line-height:1.5;
    margin-bottom:8px;
    font-weight:600;
}

.intro-divider{
    width:85px;
    height:5px;
    background:#E5B800;
    margin:10px 0 22px;
}

.intro-text p{
    max-width:800px;
    color:#444;
    line-height:1.7;
    margin-bottom:22px;
}

.section-line{
    width:70px;
    height:4px;
    background:#E5B800;
    margin:18px 0 24px 0;
}

.button-row{
    display:flex;
    gap:12px;
    flex-wrap:wrap;
}

.btn{
    padding:12px 22px;
    border-radius:30px;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

.btn-primary{
    background:#FFD700;
    color:#000;
}

.btn-primary:hover{
    background:#f0c400;
}

.btn-secondary{
    border:1.5px solid #d5d5d5;
    color:#333;
    background:#fff;
}

.btn-secondary:hover{
    background:#f5f5f5;
}

/* RESEARCH INTERESTS*/

.research-section{
    padding:10px 55px 60px;
    background:#fff;
}

.section-header{
    display:block;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.section-divider{
    width:90px;
    height:5px;
    background:#E5B800;
    margin-top:10px;
}

.section-header h2{
    color:#1F2A44;
    font-size:1.8rem;
}

.view-all{
    text-decoration:none;
    color:#4169e1;
    font-weight:600;
}

.research-grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:18px;
}

.research-card{
    text-align:center;
    padding:18px 12px;
    border-radius:15px;
    transition:0.3s ease;
}

.research-card:hover{
    transform:translateY(-5px);
}

.research-card img{
    width:95px;
    height:95px;
    object-fit:contain;
    margin-bottom:12px;
}

.research-card h3{
    color:#1F2A44;
    font-size:0.95rem;
    line-height:1.4;
}

/* ANIMATION*/

@keyframes slideDown{

    from{
        transform:translateY(-100%);
        opacity:0;
    }

    to{
        transform:translateY(0);
        opacity:1;
    }
}


@media(max-width:1200px){

    .research-grid{
        grid-template-columns:repeat(3,1fr);
    }
}

@media(max-width:900px){

    .intro-left{
        flex-direction:column;
        text-align:center;
    }

    .research-grid{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:600px){

    .research-grid{
        grid-template-columns:1fr;
    }

    .intro-section,
    .research-section{
        padding-left:25px;
        padding-right:25px;
    }
}






































































































